@import "Table.scss";
@import "customScroll.css";

.App {
  text-align: center;
  height: 100%;
  background-color: #f4f6f8;
  display: flex;
  flex-direction: column;
  font-family : gilroy, serif;

}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px 0;
  color: white;
}
