@import url(customScroll.css);
.table-container {
  height: calc(100% - 124px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .table-container .table-component {
    height: calc(100% - 200px);
    width: 1000px;
    margin: 100px;
    background-color: white; }
    @media (max-width: 1000px) {
      .table-container .table-component {
        width: 90%; } }
    .table-container .table-component .headers {
      display: flex;
      align-items: center;
      height: 45px;
      padding: 0 15px;
      border-bottom: 1px solid #cdd9e2; }
      .table-container .table-component .headers .header {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        width: 40%;
        font-weight: bold;
        border-right: 1px solid #cdd9e2; }
    .table-container .table-component .rows {
      height: calc(100% - 90px);
      padding: 0 15px;
      display: block;
      border-bottom: 1px solid #eef3f6;
      flex: 1; }
      .table-container .table-component .rows .row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 15px 0;
        border-bottom: 1px solid #eef3f6;
        height: 30px; }
        .table-container .table-component .rows .row .cell {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40%; }
          .table-container .table-component .rows .row .cell.controls {
            width: 20%; }
          .table-container .table-component .rows .row .cell .save, .table-container .table-component .rows .row .cell .edit, .table-container .table-component .rows .row .cell .delete {
            width: 20%;
            cursor: pointer; }
          .table-container .table-component .rows .row .cell .save:hover {
            color: green; }
          .table-container .table-component .rows .row .cell .edit:hover {
            color: lightblue; }
          .table-container .table-component .rows .row .cell .delete:hover {
            color: red; }
        .table-container .table-component .rows .row.add {
          justify-content: center; }
    .table-container .table-component .creation {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      padding: 0 15px;
      border-bottom: 1px solid #cdd9e2; }
      .table-container .table-component .creation .input-wrapper {
        margin-left: 40%;
        width: 40%; }
      .table-container .table-component .creation .button-wrapper {
        width: 20%; }
        .table-container .table-component .creation .button-wrapper .add-button {
          width: 60%;
          height: 35px;
          background-color: #FFBC0A;
          padding: 10px 20px;
          border: 1.5px solid #FFBC0A;
          border-radius: 40px;
          color: black;
          cursor: pointer;
          user-select: none;
          line-height: 1;
          font-family: gilroy, serif;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase; }
          @media (max-width: 1000px) {
            .table-container .table-component .creation .button-wrapper .add-button {
              font-size: 10px; } }

.App {
  text-align: center;
  height: 100%;
  background-color: #f4f6f8;
  display: flex;
  flex-direction: column;
  font-family: gilroy, serif; }

.App-logo {
  height: 80px; }

.App-header {
  background-color: #222;
  padding: 20px 0;
  color: white; }
