@import "colors.scss";

.table-container {
  height: calc(100% - 124px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .table-component {
    height: calc(100% - 200px);
    width: 1000px;
    margin: 100px;
    background-color: white;
    @media(max-width:1000px) {
      width: 90%
    }
    .headers {
      display: flex;
      align-items: center;
      height: 45px;
      padding: 0 15px;
      border-bottom: 1px solid $border-color;
      .header {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        width: 40%;
        font-weight: bold;
        border-right: 1px solid $border-color;
      }
    }
    .rows {
      height: calc(100% - 90px);
      padding: 0 15px;
      display: block;
      border-bottom: 1px solid $light-border-color;
      flex: 1;
      .row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 15px 0;
        border-bottom: 1px solid $light-border-color;
        height: 30px;
        .cell {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40%;
          &.controls {
            width: 20%;
          }
          .save, .edit, .delete {
            width: 20%;
            cursor: pointer;
          }
          .save {
            &:hover {
              color: green;
            }
          }
          .edit {
            &:hover {
              color: lightblue;
            }
          }
          .delete {
            &:hover {
              color: red;
            }
          }
        }
        &.add {
          justify-content: center;
        }
      }
    }
    .creation {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      padding: 0 15px;
      border-bottom: 1px solid $border-color;
      .input-wrapper {
        margin-left: 40%;
        width: 40%;
      }
      .button-wrapper {
        width: 20%;
        .add-button {
          width: 60%;
          height: 35px;
          background-color: #FFBC0A;
          padding: 10px 20px;
          border: 1.5px solid #FFBC0A;
          border-radius: 40px;
          color: black;
          cursor: pointer;
          user-select: none;
          line-height: 1;
          font-family : gilroy, serif;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          @media(max-width:1000px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}